.container {
    background-color: #000;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

.container ul {
    list-style: none;
}

.container ul li{
    display: inline;
    margin: 20px
}

.container ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
}

.container ul li a:hover{
    color: gray
}
.container img{
    width: 50px;
    height: 50px;
}

.hambergar{
    display: none;
}

@media screen and (max-width:400px){
    .container ul{
        display: none;
    }

    .hambergar{
        display: block;
    }
}